<div class=" row middle-xs center-xs main-background ">
<div class="col-xs-8 col-md-6 blue big-padding text-left white-text" style="margin:1em;">
  <div class="box caja1 center-xs" style="margin-left:2.5em;">
  <h3>Crear Cuenta</h3>
  <p>Conectate con lo que sucede a tú alrededor</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="center-xs">
        <%= f.text_field :email, autofocus: true, class:"form-control center-xs",require: true %>
        <%=  f.label :email,"Correo electronico" %>
      </div>
      <div class="center-xs">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Caracteres minimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control center-xs",require: true %>
        <%= f.label :password,"Contraseña" %>
      </div>
      <div class="center-xs">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control center-xs",require: true %>
        <%= f.label :password_confirmation,"Confirmar Contraseña" %>
      </div>
      <div class="actions">
      <div class="middle-xs col-xs-12 col-md-12 top-space">
      <div>
        <%= f.submit "Iniciar Sesión", class:"btn top-space"  %>
      </div>
      <div style="margin-top:1em;">
        <%= link_to  "Iniciar", new_user_session_path, class:"btn" %>
       </div>
      </div>
      </div>
    <% end %>
</div>
</div>
</div>
