<div class="logo">
    <span>RednoticiasChiapas</span>
</div>
<nav>
  <a href="<%=root_path%>">Inicio</a>
  <a href="<%=articles_path%>">Artículos</a>
  <a href=" <%=new_article_path%>">Publicar</a>
  <a href="<%=myarticles_path%>">Mís Artículos</a>
  <a href="<%=destroy_user_session_path method: :delete%> ">Cerrar Sesión</a>
</nav>
