<div class="main" >
  <h1 class="center-xs top-space">Artículos</h1>
<div class="contenedor1">
  <div class="row around-xs" >
    <% @articles.each do |article| %>
    <div class="thumb col-xs-12 col-sm-6 col-md-3 " style="border-bottom: 1px solid black;margin:1em;">
   <h2 class="titulo"><%= link_to article.title, article,class:"titulo" %></h2>
   <span>Por: <%=article.user.email%></span>
       <%= image_tag article.cover.url(:thumb),class:"thumb top-space"%>
       <div class="row">
           <div class="col-xs-12 col-sm-6 flex-start">
             <span><%= article.visit_count %> Visita(s)</span>
           </div>
           <div class="top-space">
             <p><%=truncate(article.description,length:150) %></p>
         </div>
       </div>
    </div>
    <% end %>
  </div>
  <div class="top-space center-xs large-padding" style="width:100%;">
    <div class="no-list">
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
</div>
