<div class="container" >
  <h1 class="center-xs"> Mís Artículos</h1>
  <section class="col-xs-12 col-sm-6 col-md-4 wrap">
      <% @articles.each do |article| %>
      <section class="articles_list">
      <article class="post">
        <h2 class="titulo"><%= link_to article.title, article,class:"titulo" %></h2>
        <div>
        <%= image_tag article.cover.url(:thumb),class:"thumb"%>
        </div>
          <p><%= article.visit_count %> Visita(s)</p>
        <div class="extrac">
            <p><%=truncate(article.description,length:150) %></p>
        </div>
        <%= link_to 'Eliminar', @article, method: :delete, data: { confirm: 'Estas seguro de eliminar el Articulo' }, :class =>'btn date' %>
        <%= link_to 'Editar ', edit_article_path(article), :class =>'btn date' %>
      </article>
      </section>

      <% end %>
  </section>
    </div>
